@model TechAcadStudentsMVC.Models.Instructor
@{
    ViewBag.Title = "instructor";
}

<h2>instructor</h2>

<h5>
    Detail for Instructor with ID: @ViewBag.Id
</h5>

<p>
    Further details about the instructor:
</p>
<ul>
    <li>
        Another Id: @Model.Id
    </li>
    <li>
        First Name: @Model.FirstName
    </li>
    <li>
        Last Name: @Model.LastName
    </li>
</ul>

